.container {
    padding: 1rem;
    display: grid;
    grid-template-rows: min-content auto;
    grid-template-columns: auto;
    width: 100%;
}

.bioContainer {
    display: grid;
    grid-template-columns: min-content auto;
    align-items: center;
    border-bottom: 1px solid lightgray;
}
.bioContent{
    padding: 1.5rem;
}
.profileImage{}
.name{}
.description{}