.relatedItemsSection {
    padding-inline: 10px;
    padding-block-start: 5px;
    border-top: 2px solid lightgrey;
}

.container {
    padding-block: 10px;
    padding-inline: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    overflow-x: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera /
.container::-webkit-scrollbar {
  display: none;
}

/ Hide scrollbar for IE, Edge and Firefox /
.container {
  -ms-overflow-style: none; / IE and Edge /
  scrollbar-width: none; / Firefox */
/* } */

.relatedTitle {
    font-size: 1.5rem;
    font-weight: bold;
}

.relatedCard {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding-block: 10px;
    padding-inline: 10px;
    box-shadow: 0px 0px 5px 3px lightgray;
    border-radius: 15px;
}

.relatedImage {
    width: 150px;
    height: 150px;
    border-radius: 20px;
}