html{
  background-color: var(--background-color);
  color: var(--text-color);
}

#app {
  min-height: 100vh;
  min-height: 100dvh;
}

body {

  min-height: 100vh;
  min-height: 100dvh;

  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;

  /* Variables */
  --header-height: 100px;
  --main-padding: 30px;
  --offset: calc(var(--header-height) + var(--main-padding));
}
